<div class="row hidden-xs">
  <div class="col-md-12 line">
    <div class="row">
      <div class="col-md-11 col-sm-10">Account > Collect</div>
      <div class="col-md-1 col-sm-2 col-xs-12"><a ng-href="#/logout" class="logout">Logout</a></div>
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <menu></menu>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <h3>Deposit Receipt</h3>
      <div class="row"><!--  style="display:none;" -->
        <div class="col-md-12">
          <form class="form" role="form" style="padding:20px 20px 20px 0;" ng-submit="processSend()">
          <table class="table">
            <thead>
              <tr style="font-weight: bold">
                <td style="width:30px">Date</td>
                <td>Client</td>
                <td>File #</td>
                <td>Lawyer</td>
                <td>Payment</td>
                <td ng-show="collects.payment==5">Ref.</td>
                <td>Deposited</td>
                <td>Trust Acc.</td>
                <td>Income</td>
                <td ng-show="collects.addcommet">Comments</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="date" class="form-control" placeholder="MM/DD/YYYY" name="date" ng-model="collects.date" required>
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="Company or Person Name" name="nameclient" ng-model="collects.nameclient" required>
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="File #" name="filenumber" ng-model="collects.filenumber" required>
                </td>
                <td ng-controller="LawyersCtrl">
                  <select class="form-control" name="lawyer" ng-model="collects.lawyer" required>
                    <option value="">Attorney</option>
                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data">
                      {{d.name}} {{d.lastname|limitTo:1}}
                    </option>
                  </select>
                </td>
                <td>
                  <select class="form-control" name="payment" ng-model="collects.payment" required>
                    <option value="">Method</option>
                    <option value="{{p.pID}}" ng-repeat="p in payments.data">{{p.payment}}</option>
                  </select>
                </td>
                <td ng-show="collects.payment==5">
                  <input type="text" class="form-control" placeholder="Reference No." name="reference" ng-model="collects.reference">
                </td>
                <td>
                  <input type="text" class="form-control" placeholder="ex. 1000" name="amount" ng-model="collects.amount" required>
                </td>
                <td>
                  <select class="form-control" name="account" ng-model="collects.account" required>
                    <option value="">Accounts</option>
                    <option value="{{a.sID}}" ng-repeat="a in trusts.data">{{a.notes}}</option>
                  </select>
                </td>
                <td>
                  <select class="form-control" name="type" ng-model="collects.type" required>
                    <option value="">Income</option>
                    <option value="{{i.eID}}" ng-repeat="i in incomes.data">{{i.income}}</option>
                  </select>
                </td>
                <td ng-show="collects.addcommet">
                  <textarea class="form-control" placeholder="Notes" name="comments" ng-model="collects.comments"></textarea>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="9">
                  <p>
                    <button type="submit" class="btn btn-success" ng-submit="processSend()">
                      Add daily collect
                    </button>
                    <!-- <button class="btn btn-primary disabled hidden-xs">
                      Save and continue
                    </button> -->
                    <input type="checkbox" ng-model="collects.addcommet"> 
                    <span ng-hide="collects.addcommet">Add</span><span ng-show="collects.addcommet">Remove</span> comments
                    <button class="btn btn-warning pull-right disabled hidden-xs">
                      Load massive data
                    </button>
                  </p>
                </td>
              </tr>
            </tfoot>
          </table>
          {{collects}}
          </form>
          <h3>Last 5 collects</h3>
          <table class="table table-striped table-hover" ng-controller="ReportsCtrl">
            <thead>
              <tr>
                <td><strong>Attorney</strong></td>
                <td class="hidden-xs"><strong>Company/Name</strong></td>
                <td><strong>File #</strong></td>
                <td><strong>Last collect</strong></td>
                <td><strong>Amount</strong></td>
                <td class="hidden-xs"><strong>Payment</strong></td>
                <td> </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in reports.data | limitTo:5">
                <td class="capitalize">{{d.name}} {{d.lastname}}</td>
                <td class="hidden-xs">{{d.nameclient}}</td>
                <td class="hidden-xs">{{d.filenumber}}</td>
                <td class="hidden-xs">{{d.payment}}</td>
                <td>{{d.amount|currency}}</td>
                <td>{{d.date|date}}</td>
                <td><a href="#/report/{{d.uid}}"><i class="glyphicon glyphicon-search"></i></a></td>
              </tr>
                <tr ng-hide="reports.data">
                  <td colspan="7">Loading data..</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>