<div class="row hidden-xs">
  <div class="col-md-12 line">
    <div class="row">
      <div class="col-md-11 col-sm-10">Account > Dasboard</div>
      <div class="col-md-1 col-sm-2 col-xs-12"><a ng-href="#/logout" class="logout">Logout</a></div>
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <menu></menu>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row" ng-init="push=false">
        <div class="col-md-12">
          <div class="alert alert-warning" role="alert" ng-hide="push">
            <p><strong>Warning!</strong> You deposit ready to split! Click <a href="javascript:;" ng-click="push=true">here</a> to continue</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <h3 ng-hide="chart1">Loading charts</h3>
          <div google-chart chart="chart1" style="padding:20px 0 20px 0;"></div>
        </div>
        <!-- <div class="col-md-8 col-sm-4 col-xs-12">
          <h3 ng-hide="chart2">Loading charts</h3>
          <div google-chart chart="chart2" style="padding:20px;"/>
        </div> -->
      </div>

      <div class="row" ng-controller="ReportsCtrl" ng-show="push">
        <div class="col-md-12">
          <table class="table table-striped table-hover alert alert-warning">
            <thead>
              <tr>
                <td><strong>Company/Name</strong></td>
                <td class="hidden-xs"><strong>File #</strong></td>
                <td class="hidden-xs"><strong>Payment</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Last collect</strong></td>
                <td> </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in reports.data">
                <td><a href="#/performance/{{d.cid}}">{{d.nameclient}}</a><span class="visible-xs"><br># {{d.filenumber}}</span></td>
                <td class="hidden-xs">{{d.filenumber}}</td>
                <td class="hidden-xs">{{d.payment}}</td>
                <td>{{d.amount|currency}}</td>
                <td>{{d.date|date}}</td>
                <td><a href="#/report/{{d.uid}}"><i class="glyphicon glyphicon-search"></i></a></td>
              </tr>
                <tr ng-hide="reports.data">
                  <td colspan="7">Loading data..</td>
                </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row" ng-controller="ReportsCtrl">
        <div class="col-md-12">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <td><strong>Company/Name</strong></td>
                <td class="hidden-xs"><strong>File #</strong></td>
                <td class="hidden-xs"><strong>Payment</strong></td>
                <td><strong>Amount</strong></td>
                <td><strong>Last split</strong></td>
                <td> </td>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="d in reports.data | limitTo:5">
                <td>{{d.nameclient}}<span class="visible-xs"><br># {{d.filenumber}}</span></td>
                <td class="hidden-xs">{{d.filenumber}}</td>
                <td class="hidden-xs">{{d.payment}}</td>
                <td>{{d.amount|currency}}</td>
                <td>{{d.date|date}}</td>
                <td><a href="#/report/{{d.uid}}"><i class="glyphicon glyphicon-search"></i></a></td>
              </tr>
                <tr ng-hide="reports.data">
                  <td colspan="6">Loading data..</td>
                </tr>
                <!-- <tr ng-show="reports.data==0">
                  <td colspan="6">
                    <h3>No data available.</h3>
                  </td>
                </tr> -->
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>