<ul ng-controller="MenuCtrl">
    <li>
        <a ng-href="#/main">
            <span class="hidden-xs">Dashboad</span>
            <span class="visible-xs">
                <i class="fa fa-home fa-2x"></i>
            </span>
        </a>
    </li>
    <li ng-show="partner==1" class="hidden-xs">
        <a ng-href="#/collects">
            <span class="hidden-xs">Collects & Deposits</span>
            <span class="visible-xs">
                <i class="fa fa-money fa-2x"></i>
            </span>
        </a>
    </li>
    <li ng-show="partner==1">
        <a ng-href="#/lawyers">
            <span class="hidden-xs">Attorney</span>
            <span class="visible-xs">
                <i class="fa fa-users fa-2x"></i>
            </span>
        </a>
    </li>
    <li>
        <a ng-href="#/reports">
            <span class="hidden-xs">Reports</span>
            <span class="visible-xs">
                <i class="fa fa-bar-chart fa-2x"></i>
            </span>
        </a>
    </li>
    <li>
        <a ng-href="#/settings" class="hidden-xs">
            <span class="hidden-xs">Settings</span>
            <span class="visible-xs">
                <i class="fa fa-cog fa-2x"></i>
            </span>
        </a>
    </li>
    <li ng-show="partner==1" class="hidden-xs">
        <a ng-href="#/private">Changelog</a>
    </li>
    <li>
        <a ng-href="#/logout" class="logout">
            <span class="hidden-xs">Logout</span>
            <span class="visible-xs">
                <i class="fa fa-sign-out fa-2x"></i>
            </span>
        </a>
    </li>
</ul>