<div class="modal-header">
  <h3 class="modal-title">Report {{abogado}} {{id}}</h3>
</div>
<div class="modal-body">
	<h2>We're updating this module. Thanks for your pacience.</h2>
      <p>For more information, drop us a line to support via "Changelog menu"</p>
	<table class="table table-striped table-hover" style="display:none;">
	<thead>
	  <tr>
	    <td><strong>Split Lawyer 1</strong></td>
	    <td><strong>Split Type</strong></td>
	    <td><strong>Split Amount</strong></td>
	    <td><strong>Split Lawyer 2</strong></td>
	    <td><strong>Split Type</strong></td>
	    <td><strong>Split Amount</strong></td>
	    <td><strong>Split Extra</strong></td>
	    <td><strong>Split Type</strong></td>
	    <td><strong>Split Amount</strong></td>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="i in [1,2,3,4,5,6,7,8]">
	    <td>BM</td>
	    <td>Ref </td>
	    <td>{{i+'000'|currency}}</td>
	    <td> </td>
	    <td></td>
	    <td></td>
	    <td></td>
	    <td>Ops</td>
	    <td>{{i+'00'|currency}}</td>
	  </tr>
	  <!-- <tr ng-hide="lawyers.data">
	    <td colspan="9">Loading data..</td>
	  </tr> -->
	</tbody>
	</table>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" ng-click="ok()">OK</button>
  <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>