<div class="row hidden-xs">
  <div class="col-md-12 line">
    <div class="row">
      <div class="col-md-9 col-sm-9">Account > Collect</div>
      <div class="col-md-3 col-sm-3 col-xs-12">
      	<profile><profile>
      </div>
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <menu></menu>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
    	<!-- new layout -->
    	<div class="row">
    		<div class="col-md-12">
    			<h3>Attorney split report</h3>
	     		<form class="form" role="form" style="padding:20px 20px 20px 0;" ng-submit="transferSend()">
	     			<input type="hidden" name="cID" ng-model="transfer.cID">
	     			<input type="hidden" name="trusts" ng-model="transfer.trusts">
	     			<input type="hidden" name="lawyer" ng-model="transfer.lawyer">
	     			<h3 ng-hide="transfer.nameclient">Loading Case...</h3>
	     			<div class="form-group" ng-show="transfer.nameclient">
	     				<label>Company or person name / File number</label>
	     			 	<input type="text" class="form-control" ng-model="transfer.nameclient" value="{{transfer.nameclient}}" readonly>
					</div>
					<div class="form-group" ng-show="transfer.filenumber">
	     				<label>File number</label>
	     			 	<input type="text" class="form-control" ng-model="transfer.filenumber" ng-value="transfer.filenumber" readonly>
					</div>
					<div class="form-group" ng-show="transfer.amount">
	     				<label>Amount</label>
	     				<input type="text" name="amount" ng-model="transfer.amount" class="form-control" readonly>
	     			</div>
					<hr>
					<div class="form-group">
						<label>
			     			<input type="checkbox" ng-model="transfer.exist" name="exist" ng-change="change()">
							<span ng-hide="transfer.exist==1">Do you have some expenses?</span>
							<span ng-show="transfer.exist">Remove expense</span>
						</label>
					</div>
					<hr ng-show="transfer.exist==1" >
			     	<div class="form-group" ng-show="transfer.exist==1">
			     		<label>Expenses</label>
			     		<tags-input ng-model="transfer.expenses" name="expenses" placeholder="Remove expenses">
			     			<auto-complete source="loadTags($query)"></auto-complete>
			     		</tags-input>
			     	</div>
			     	<div class="form-group" ng-show="transfer.exist==1">
			     		<label>Expenses amount</label>
			     		<input type="text" name="fees" ng-model="transfer.fees" class="form-control" ng-change="calculate()">
			     		<small>(separate by commas in order)</small>
			     	</div>
			     	<hr ng-show="transfer.splits==1" >
					<div class="form-group">
						<label>
			     			<input type="checkbox" ng-model="transfer.splits">
							<span ng-hide="transfer.splits==1">Did you work with other lawyer in the case?</span>
							<span ng-show="transfer.splits">Remove others lawyers</span>
						</label>
					</div>
					<div class="row" ng-show="transfer.splits">
						<hr>
						<div class="col-md-6"> <!-- abogado 1 -->
				     		<label>Referral Attorney</label>
				     		<select class="form-control" name="referral" ng-model="transfer.referral" ng-change="calculate()">
			                    <option value="">-Referral Attorney-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID!=6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
			                  </select>
				     	</div>
				     	<div class="col-md-6"> <!-- abogado 2 -->
				     		<label><em>Para-legal</em> or associate staff</label>
				     		<select class="form-control" name="staff" ng-model="transfer.staff" ng-change="calculate()">
			                    <option value="">-Associate staff-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID==6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
			                  </select>
				     	</div>
					</div>
			     	<hr>
			     	<!--  (<a href="javascript:;" ng-click="add()">Add more attorney</a>) -->
			     	<div class="row" ng-show="transfer.splits"> <!-- -->
			     		<!-- <div class="col-md-8"> -->
			     		<div ng-class="{'col-md-12' : !transfer.itshourly1, 'col-md-8' : transfer.itshourly1}" class="col-md-12">
			     			<label>Lawyers / attorney splits</label>
			     			<select class="form-control" name="lawyer1" ng-model="transfer.lawyer1">
			                    <option value="">-Attorney list-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID!=6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
		                  	</select>
		                  	<span ng-hide="transfer.itshourly1">
		                  		<input type="checkbox" ng-model="transfer.itshourly1" name=""> Working Hourly Lawyer?
		                  	</span>
			     		</div>
			     		<div class="col-md-4">
			     			<span ng-show="transfer.itshourly1">
								<label>Enter amount per hour ($) <a href="javascript:;" ng-click="transfer.itshourly1=false;transfer.hourly1=0;calculate();"><i class="fa fa-close"></i></a></label>
								<input type="text" name="hourly1" value="hourly" ng-model="transfer.hourly1" placeholder="ex. 25" class="form-control" ng-change="calculate()">
							</span>
			     		</div>

			     		<div ng-class="{'col-md-12' : !transfer.itshourly2, 'col-md-8' : transfer.itshourly2}" class="col-md-12">
			     			<label>Lawyers / attorney splits</label>
			     			<select class="form-control" name="lawyer2" ng-model="transfer.lawyer2">
			                    <option value="">-Attorney list-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID!=6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
		                  	</select>
		                  	<span ng-hide="transfer.itshourly2">
		                  		<input type="checkbox" ng-model="transfer.itshourly2" name=""> Working Hourly Lawyer?
		                  	</span>
			     		</div>
			     		<div class="col-md-4">
			     			<span ng-show="transfer.itshourly2">
								<label>Enter amount per hour ($) <a href="javascript:;" ng-click="transfer.itshourly2=false;transfer.hourly2=0;calculate();"><i class="fa fa-close"></i></a></label>
								<input type="text" name="hourly2" value="hourly" ng-model="transfer.hourly2" placeholder="ex. 25" class="form-control" ng-change="calculate()">
							</span>
			     		</div>

			     		<div ng-class="{'col-md-12' : !transfer.itshourly3, 'col-md-8' : transfer.itshourly3}" class="col-md-12">
			     			<label>Lawyers / attorney splits</label>
			     			<select class="form-control" name="lawyer3" ng-model="transfer.lawyer3">
			                    <option value="">-Attorney list-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID!=6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
		                  	</select>
		                  	<span ng-hide="transfer.itshourly3">
		                  		<input type="checkbox" ng-model="transfer.itshourly3" name=""> Working Hourly Lawyer?
		                  	</span>
			     		</div>
			     		<div class="col-md-4">
			     			<span ng-show="transfer.itshourly3">
								<label>Enter amount per hour ($) <a href="javascript:;" ng-click="transfer.itshourly3=false;transfer.hourly3=0;calculate();"><i class="fa fa-close"></i></a></label>
								<input type="text" name="hourly3" value="hourly" ng-model="transfer.hourly3" placeholder="ex. 25" class="form-control" ng-change="calculate()">
							</span>
			     		</div>

			     		<div ng-class="{'col-md-12' : !transfer.itshourly4, 'col-md-8' : transfer.itshourly4}" class="col-md-12">
			     			<label>Lawyers / attorney splits</label>
			     			<select class="form-control" name="lawyer4" ng-model="transfer.lawyer4">
			                    <option value="">-Attorney list-</option>
			                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data" ng-show="d.uid!=57 && d.tID!=6">
			                      {{d.name}} {{d.lastname}}
			                    </option>
		                  	</select>
		                  	<span ng-hide="transfer.itshourly4">
		                  		<input type="checkbox" ng-model="transfer.itshourly4" name=""> Working Hourly Lawyer?
		                  	</span>
			     		</div>
			     		<div class="col-md-4">
			     			<span ng-show="transfer.itshourly4">
								<label>Enter amount per hour ($) <a href="javascript:;" ng-click="transfer.itshourly4=false;transfer.hourly4=0;calculate();"><i class="fa fa-close"></i></a></label>
								<input type="text" name="hourly1" value="hourly" ng-model="transfer.hourly4" placeholder="ex. 25" class="form-control" ng-change="calculate()">
							</span>
			     		</div>	     		
			     	</div> <!-- main lawyer -->
			     	

			     	<div class="form-group" ng-show="transfer.addcommet">
			     		<textarea class="form-control" placeholder="Add Notes" name="comments" ng-model="transfer.comments" ng-show="transfer.addcommet"></textarea>
			     	</div>


			     	<div class="" ng-init="calculate()">
			     		<h3>Current split invoice: {{transfer.amount|currency}}</h3>
			     		<p>
			     			<span ng-if="transfer.fees">Expenses: {{discount|currency}}<br/></span>
			     			<span ng-if="transfer.referral">Referral: {{commision|currency}}<br/></span>
			     			<span ng-show="transfer.staff">Paralegal: {{asists|currency}}<br/></span>
			     			<span ng-show="law1">Lawyer 1: {{law1|currency}}<br/></span>
			     			<span ng-show="law2">Lawyer 2: {{law2|currency}}<br/></span>
			     			<span ng-show="law3">Lawyer 3: {{law3|currency}}<br/></span>
			     			<span ng-show="law4">Lawyer 4: {{law4|currency}}<br/></span>
			     			<h4>You'll received: {{toPay|currency}}</h4><!--  ng-show="toPay" -->
			     		</p>
			     	</div>


			     	<p>
			     		<br>
		                <button type="submit" class="btn btn-success" ng-submit="transferSend()" ng-disabled="!transfer.filenumber">
		                  Add split report
		                </button>
		                <input type="checkbox" ng-model="transfer.addcommet"> 
		                <span ng-hide="transfer.addcommet">Add</span><span ng-show="transfer.addcommet">Remove</span> comments
	              	</p>
	              	<p>
	              		(*) You will receive a receipt in your inbox
	              	</p>  	
			    </form>
			    <!-- {{transfer}} -->
    		</div>
    	</div> <!-- new layout -->
	</div>
  </div>
</div>