<div class="row hidden-xs">
  <div class="col-md-12 line">
    <div class="row">
      <div class="col-md-11 col-sm-10">Account > Collect</div>
      <div class="col-md-1 col-sm-2 col-xs-12"><a ng-href="#/logout" class="logout">Logout</a></div>
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="row">
    <div class="col-md-3 col-sm-3 hidden-xs">
      <menu></menu>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
    	<!-- new layout -->
    	<div class="row">
    		<div class="col-md-12">
    			<h3>Attorney split report</h3>
	     		<form class="form" role="form" style="padding:20px 20px 20px 0;" ng-submit="transferSend()">
	     			<div class="form-group">
	     				<label>Company or person name / File number</label>
	     			 	<input type="text" class="form-control" ng-model="transfer.nameclient">
	     			<!-- <p>
			     	<angucomplete id="client"
						placeholder="ex. Caja Holdings"
						pause="400"
						selectedobject="transfer.nameclient"
						url="http://apps-lean.com/api/v1/findbyclient/"
						datafield="data"
						titlefield="nameclient,filenumber"
						inputclass="form-control form-control-small"
						model="transfer.nameclient"
						required>
					</p> -->
					<!-- <p>
					<label>File number</label>
					<angucomplete id="case"
						placeholder="ex. 0000-SS-12345678"
						pause="400"
						selectedobject="transfer.filenumber"
						url="http://apps-lean.com/api/v1/findbycase/"
						datafield="data"
						titlefield="filenumber"
						inputclass="form-control form-control-small"
						model="transfer.filenumber"
						required>
					</p> -->
					</div>
					<div class="form-group">
	     				<label>File number</label>
	     			 	<input type="text" class="form-control" ng-model="transfer.filenumber" ng-value="collect.filenumber">
					</div>
					<div>
					<label>
		     			<input type="checkbox" ng-model="lawyer.exist">
						<span ng-hide="lawyer.exist==1">Yes, I have some expenses</span>
						<span ng-show="lawyer.exist">Remove expense</span>
					</label>
					<label>
		     			<input type="checkbox" ng-model="lawyer.splits">
						<span ng-hide="lawyer.splits==1">Any other lawyer in this case?</span>
						<span ng-show="lawyer.splits">Remove other lawyer</span>
					</label>
					</div>
					<hr ng-show="lawyer.exist==1" >
			     	<div class="form-group" ng-show="lawyer.exist==1" ><!---->
			     		<label>Expenses</label>
			     		<tags-input ng-model="transfer.expenses" placeholder="Remove expenses">
			     			<auto-complete source="loadTags($query)"></auto-complete>
			     		</tags-input>
			     	</div>
			     	<div class="form-group" ng-show="lawyer.exist==1" > <!-- -->
			     		<label>Expenses amount</label>
			     		<input type="text" name="fees" ng-model="transfer.fees" class="form-control">
			     		<small>(separate by commas in order)</small>
			     	</div>
			     	<div class="form-group" ng-show="lawyer.splits">
			     		<hr>
			     		<label>Lawyers / attorney splits</label>
			     		<select class="form-control" name="lawyer" ng-model="transfer.lawyer">
		                    <option value="">Primary Attorney</option>
		                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data">
		                      {{d.name}} {{d.lastname}}
		                    </option>
		                  </select>
			     	</div>
			     	<div class="form-group" ng-show="lawyer.splits">
			     		<label>Lawyers / attorney splits</label>
			     		<select class="form-control" name="olawyer" ng-model="transfer.olawyer">
		                    <option value="">Second Attorney</option>
		                    <option value="{{d.uid}}" ng-repeat="d in lawyers.data">
		                      {{d.name}} {{d.lastname}}
		                    </option>
		                  </select>
			     	</div>
			     	<div class="form-group" ng-show="transfer.addcommet">
			     		<hr>
			     		<textarea class="form-control" placeholder="Add Notes" name="comments" ng-model="transfer.comments" ng-show="transfer.addcommet"></textarea>
			     	</div>
			     	<p>
			     		<br>
		                <button type="submit" class="btn btn-success" ng-submit="transferSend()" ng-disabled="!transfer.filenumber">
		                  Add split report
		                </button>
		                <input type="checkbox" ng-model="transfer.addcommet"> 
		                <span ng-hide="transfer.addcommet">Add</span><span ng-show="transfer.addcommet">Remove</span> comments
	              	</p>     	
			    </form>
			    {{transfer}}
    		</div>
    	</div> <!-- new layout -->
	  <div class="row"> <!--  style="display:none;" -->
	    <div class="col-md-12">
<!-- 	      <h3>Attorney split report</h3>
	      <form class="form" role="form" style="padding:20px 20px 20px 0;" ng-submit="transferSend()">
	      <table class="table">
	        <thead>
	          <tr>
	            <td colspan="8">
	              <label>Date</label>
	              <input type="date" class="form-control" placeholder="MM/DD/YYYY" name="date" ng-model="transfer.date" required style="width:300px;">
	            </td>
	          </tr>
	          <tr>
	            <td colspan="8" ng-controller="LawyersCtrl">
	              <label>Transfer Form</label>
	              <select class="form-control" name="lawyer" ng-model="transfer.lawyer" required style="width:300px;">
	                <option value="">Attorney</option>
	                <option value="{{d.uid}}" ng-repeat="d in lawyers.data">
	                  {{d.name}} {{d.lastname}}
	                </option>
	              </select>
	            </td>
	          </tr>
	          <tr style="font-weight: bold">
	            <td>Trust Acc.</td>
	            <td>Client</td>
	            <td>File #</td>
	            <td>Amount</td>
	            <td>Lawyer</td>
	            <td>Expenses</td>
	            <td>Cost</td>
	            <td ng-show="transfer.addcommet">Comments</td>
	          </tr>
	        </thead>
	        <tbody>
	          <tr>
	            <td>
	              <select class="form-control" name="trusts" ng-model="transfer.trusts" required>
	                <option value="">Accounts</option>
	                <option value="{{a.sID}}" ng-repeat="a in trusts.data">{{a.notes}}</option>
	              </select>
	            </td>
	            <td>
	              <input type="text" class="form-control" placeholder="Company or Person Name" name="nameclient" ng-model="transfer.nameclient" required>
	            </td>
	            <td>
	              <input type="text" class="form-control" placeholder="File #" name="filenumber" ng-model="transfer.filenumber" required>
	            </td>
	            <td>
	              <input type="text" class="form-control" placeholder="ex. 1000" name="amount" ng-model="transfer.amount" required>
	            </td>
	            <td ng-show="transfer.payment==5">
	              <input type="text" class="form-control" placeholder="Reference No." name="reference" ng-model="transfer.reference">
	            </td>
	            <td ng-controller="LawyersCtrl">
	              <select class="form-control" name="split" ng-model="transfer.split" required>
	                <option value="">Splits / Lawyers</option>
	                <option value="{{d.uid}}" ng-repeat="d in lawyers.data">
	                  {{d.name}} {{d.lastname|limitTo:1}}
	                </option>
	              </select>
	            </td>
	            <td>
	              <textarea class="form-control" placeholder="ex. Court filling" name="expenses" ng-model="transfer.expenses"></textarea>
	            </td>
	            <td>
	              <textarea class="form-control" placeholder="ex. 150" name="expense" ng-model="transfer.expense"></textarea>
	            </td>
	            <td ng-show="transfer.addcommet">
	              <textarea class="form-control" placeholder="Notes" name="comments" ng-model="transfer.comments"></textarea>
	            </td>
	          </tr>
	        </tbody>
	        <tfoot>
	          <tr>
	            <td colspan="9">
	              <p>
	                <button type="submit" class="btn btn-success" ng-submit="transferSend()">
	                  Add daily collect
	                </button>
	                <input type="checkbox" ng-model="transfer.addcommet"> 
	                <span ng-hide="transfer.addcommet">Add</span><span ng-show="transfer.addcommet">Remove</span> comments
	              </p>
	            </td>
	          </tr>
	        </tfoot>
	      </table>
	      </form> -->

<!-- 	      <h3>Attorney split report</h3>
	         <table class="table table-hover table-condensed" style="margin-top:10px;">
	          <thead>
	            <tr style="font-weight: bold">
	              <td style="width:110px">Trust Acc.</td>
	              <td style="width:130px">Company or person name</td>
	              <td style="width:120px">File #</td>
	              <td>Amount</td>
	              <td>Split fees</td>
	              <td>Splits / Lawyers</td>
	              <td>Expenses</td>
	              <td>Amounts</td>
	              <td style="width:140px">Comments</td>
	            </tr>
	          </thead>
	          <tbody>
	            <tr ng-repeat="s in splits.data | limitTo:5">
	              <td>{{s.trusts}}</td>
	              <td>{{s.nameclient}}</td>
	              <td>{{s.filenumber}}</td>
	              <td>{{s.amount|currency}}</td>
	              <td style="border-left:5px solid #666">
	                <li style="margin:0;padding:5px;list-style:none;">Not set</li>
	              </td>
	              <td>
	                <li ng-show="s.split" ng-repeat="law in s.split track by $index" style="margin:0;padding:5px;list-style:none;">
	                  {{law}}
	                </li>
	              </td>
	              <td>
	                <span ng-show="s.expenses>0" ng-repeat="e in s.expenses" style="margin-right:5px;padding:5px;background-color:#f00;">
	                  {{e}}
	                </span>
	              </td>
	              <td>
	                <span ng-show="s.fees>0" ng-repeat="f in s.fees" style="margin-right:5px;padding:5px;">
	                  {{f|currency}}
	                </span>
	              </td>
	              <td>{{s.comments}}</td>
	            </tr>
	          </tbody>
	        </table>
	      <a href="#/collects">
	        <button class="btn btn-success">Add attorney report</button>
	      </a> -->
	    </div>
	  </div>
</div>
  </div>
</div>