<div class="row hidden-xs">
  <div class="col-md-12 line">
    <div class="row">
      <div class="col-md-11 col-sm-10">Account > Settings > Profile</div>
      <div class="col-md-1 col-sm-2 col-xs-12"><a ng-href="#/logout" class="logout">Logout</a></div>
    </div>
  </div>
</div>
<div class="dashboard">
  <div class="row">
    <div class="col-md-3 col-sm-3 col-xs-12">
      <menu></menu>
    </div>
    <div class="col-md-9 col-sm-9 col-xs-12">
      <div class="row">
      	<div class="col-md-6">
          <h3 ng-hide="attorney.data">Loading...</h3>
      		<form class="form" role="form" ng-submit="updateProfile()" ng-repeat="a in attorney.data" ng-show="attorney.data">
      			<h3>Personal Information</h3>
      			<div class="form-group">
      				<label>Name</label>
      				<input type="text" class="form-control" ng-model="a.name" value="{{a.name}}" readonly>
      			</div>
            <div class="form-group" ng-show="a.middle">
              <label>Middle</label>
              <input type="text" class="form-control" ng-model="a.middle" value="{{a.middle}}" readonly>
            </div>
            <div class="form-group">
              <label>Lastname</label>
              <input type="text" class="form-control" ng-model="a.lastname" value="{{a.lastname}}" readonly>
            </div>
      			<div class="form-group">
      				<label>E-mail</label>
      				<input type="text" class="form-control" ng-model="a.email" value="{{a.email}}" readonly>
      			</div>
      			<div class="form-group">
      				<label>Phone</label>
      				<input type="text" class="form-control" ng-model="a.phone" value="{{a.phone}}">
      			</div>
      			<div class="form-group">
      				<label>Address</label>
      				<textarea class="form-control" ng-model="a.address">{{a.address}}</textarea>
      			</div>
            <p>
        			<button class="btn btn-default" ng-submit="updateProfile()" disabled>
        				Update info
        			</button>
            </p>
      			<p>Member since <strong>{{a.registered|date:'longDate'}}</strong></p>
      		</form>
      	</div>
        <div class="col-md-6">      
	        <h3>Password modification</h3>
	        <form name="cpForm" ng-submit="updateProfile()" method="post" >
	        	<input type="hidden" name="uID" ng-model="cpass.uID">
	          <div class="form-group has-feedback">
	          	<label>New password</label>
	            <input class="form-control" type="password" name="password" ng-model="cpass.password" placeholder="Password" required>
	            <span class="ion-key form-control-feedback"></span>
	          </div>
	          <button type="submit" data-ng-disabled="cpForm.$invalid" class="btn btn-primary" ng-click="updateProfile(password)">Update</button>
	          <small>Tech support, click <a href="mailto:info@apps-lean.com?subject=Problem with password modification&body=Username/email:">here</a></small>
	        </form>
        </div>
      </div>
    </div>
  </div>
</div>